.furniture {
	@include adaptiv-value('padding-bottom', 85, 40, 1);
	// .furniture__container

	&__container {
	}

	// .furniture__label

	&__label {
		text-align: center;
		color: var(--color-darGray);
		@include adaptiv-value('font-size', 20, 16, 1);
		line-height: 150%;
		&:not(:last-child) {
			margin: 0 0 math.div(8px, 20px) * 1em 0;
		}
	}

	// .furniture__title

	&__title {
		margin: 0 0 math.div(32px, 40px) * 1em 0;
	}

	// .furniture__body

	&__body {
		position: relative;
		@media (any-hover: none) {
			//горизонтальный скролл
			&:hover {
				overflow: auto;
				-webkit-overflow-scrolling: touch;
			}
		}
	}

	// .furniture__items

	&__items {
		display: grid;
		grid-template-columns: auto;
		grid-auto-flow: column;
		align-items: center;
		gap: 16px;
		@media (any-hover: hover) {
			justify-content: center;
		}
	}

	// .furniture__column

	&__column {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0 -8px;
		&:first-child {
			justify-content: flex-end;
		}
	}

	// .furniture__row

	&__row {
		display: inline-grid;
		padding: 0 8px;
		grid-template-columns: auto;
		grid-auto-flow: column;
		gap: 16px;
		&:not(:last-child) {
			margin: 0 0 16px 0;
		}
	}

	// ._gallery

	&_gallery {
	}
}
.row-furniture {
	// .row-furniture_left-top

	&_left-top {
		justify-content: end;
		align-items: end;
	}

	// .row-furniture_left-bottom

	&_left-bottom {
		justify-content: end;
		align-items: start;
	}

	// .row-furniture_center

	&_center {
		display: block;
	}

	// .row-furniture_right-top

	&_right-top {
		align-items: end;
	}

	// .row-furniture_right-bottom

	&_right-bottom {
		align-items: start;
	}

	// .row-furniture__item

	&__item {
		@media (any-hover: hover) {
			img {
				transition: all 0.8s ease 0s;
				filter: grayscale(1);
			}
			&:hover {
				img {
					filter: grayscale(0);
				}
			}
		}
	}
}
