.products {
	@include adaptiv-value('padding-bottom', 44, 30, 1);
	// .products__container

	&__container {
	}

	// .products__title

	&__title {
		margin: 0 0 math.div(32px, 40px) * 1em 0;
	}

	// .products__items

	&__items {
		display: grid;
		gap: 32px;
		grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
	}

	// .products__item

	&__item {
	}
	// .products__footer

	&__footer {
		padding-top: 32px;
		text-align: center;
	}

	// .products__more

	&__more {
		min-width: 245px;
		border: 1px solid var(--color-orange);
		&._hold {
			opacity: 0.2;
			cursor: default;
		}
	}
}

.item-product {
	position: relative;
	display: flex;
	flex-direction: column;
	background: #f4f5f7;
	transition: all 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			.item-product__actions {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	// .item-product__labels

	&__labels {
		position: absolute;
		@include adaptiv-value('right', 24, 10, 1);
		@include adaptiv-value('top', 24, 10, 1);
		display: flex;
		flex-direction: column;
		z-index: 2;
	}

	// .item-product__label

	&__label {
		flex: 0 0 48px;
		width: 48px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 500;
		color: var(--color-white);
		&:not(:last-child) {
			margin-bottom: 10px;
		}

		// .item-product__label_sale

		&_sale {
			background: #e97171;
		}
		&_new {
			background: #2ec1ac;
		}
	}

	// .item-product__iamge

	&__image {
		padding: 0 0 math.div(301px, 285px) * 100% 0;
	}

	// .item-product__body

	&__body {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		padding: 16px 16px 30px 16px;
	}

	// .item-product__content

	&__content {
		flex: 1 1 auto;
	}

	// .item-product__title

	&__title {
		@include adaptiv-value('font-size', 24, 20, 1);
		font-weight: 600;
		line-height: 120%;
		margin: 0 0 math.div(8px, 24px) * 1em 0;
	}

	// .item-product__text

	&__text {
		margin: 0 0 math.div(8px, 24px) * 1em 0;
		color: var(--color-gray);
		height: 150%;
	}

	// .item-product__prices

	&__prices {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		line-height: 150%;
	}

	// .item-product__price

	&__price {
		@include adaptiv-value('font-size', 20, 16, 1);
		font-weight: 600;
		// .item-product__price_old

		&_old {
			margin-left: 16px;
			font-weight: normal;
			color: #b0b0b0;
			text-decoration: line-through;
		}
	}

	// .item-product__actions

	&__actions {
		@media (any-hover: none) {
			padding-top: 15px;
		}
		@media (any-hover: hover) {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: rgba(58, 58, 58, 0.74);
			z-index: 3;
			transition: all 0.3s ease 0s;
			opacity: 0;
			visibility: hidden;
		}
	}
}
.actions-product {
	// .actions-product__body

	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	// .actions-product__button

	&__button {
		flex: 1 1 100%;
		&:not(:last-child) {
			margin-bottom: 24px;
		}
		&._hold {
			opacity: 0.2;
			cursor: default;
		}
	}

	// .actions-product__link

	&__link {
		display: flex;
		align-items: center;
		font-weight: 600;
		color: inherit;
		transition: color 0.3s ease 0s;
		&::before {
			margin-right: 10px;
			font-size: 16px;
		}
		@media (any-hover: hover) {
			color: var(--color-white);
			&:hover {
				color: var(--color-orange);
			}
		}
	}
}
